/*Null style*/
html{
	height: 100%;
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	font-family: "Arial", sans-serif;
	color: #404040;
	background-color: white;
	box-sizing: border-box;
	scroll-behavior: smooth;
	height: 100%;
}
.wrapper {
	max-width: 1440px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	outline: 1px solid green;
}
.container--wide {
	max-width: 1015px;
}

/*General styles*/
.main {
	flex: 1 1 auto;
}
.btn {
	padding: 8px 20px;
	font: inherit;
	font-weight: 700;
	line-height: inherit;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
.btn--solid {
	color: #ffffff;
	background-color: #834700;
	border: 2px solid #834700;
}
.btn--solid:hover {
	background-color: #6a3900;
	border-color: #6a3900;
}
.btn--solid:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5c3200;
	border-color: #5c3200;
}
.btn--transparent {
	color: #834700;
	border: 2px solid #834700;
}
.btn--transparent:hover {
	color: #6a3900;
	border-color: #6a3900;
}
.btn--transparent:active {
	color: rgba(92, 50, 0, 0.3);
	border-color: #cec1b2;
}
.btn--transparent_light {
	color: #bcb6ab;
	border: 2px solid #a5a097;
}
.btn--transparent_light:hover {
	color: #ffffff;
	background-color: #a5a097;
	border-color: #a5a097;
}
.btn--transparent_light:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #8f8a81;
	border-color: #8f8a81;
}
.section-title {
	font-size: 40px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 0px 75px 0px;
	color: #000000;
}
@media (max-width: 900px){
	.section-title {
		margin: 0px 0px 75px 20px;
	}
}

/*Header*/

.header {
	padding: 60px 0px;
	background-image: url('../img/wheat-back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.header__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.header__top {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.header__logo {
	width: 140px;
	height: 76px;
}
@media (max-width: 900px){
	.header__logo {
	margin: 0px 0px 0px 20px;
	}
}
.header__list {
	display: flex;
	align-items: center;
	padding: 10px 0px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 900px){
	.header__list {
	margin: 0px 20px 0px 5px;
	}
}
@media (max-width: 768px){
	.header__list {
		position: absolute;
		flex-direction: column;
		align-items:flex-start;
		width: 600px;
		height: 600px;
		background-color: #000;
		z-index: 2;
		margin: 0px;
		padding: 135px 0px 0px 0px;
		top: 0;
		right: -620px;
		transition: 1.0s;
	}
	.header__list.open{
		right: 0;
		box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
	}
}
@media (max-width: 620px){
	.header__list {
		width: 100%;
	}
}
.header__item:not(:last-child) {
	margin-right: 50px;
}
@media (max-width: 768px){
	.header__item {
		margin: 0px 0px 16px 127px;
		font-size: 35px;
		line-height: 72.55px;
	}
}
@media (max-width: 440px){
	.header__item {
		font-size: 30px;
		line-height: 65px;
		margin: 0px 0px 16px 40px;
	}
}
.header__item a {
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}
.header__item a:hover {
	color: #ffcb78;
}
.header__item a:active {
	color: rgba(255, 203, 120, 0.3);
}
.header__promo {
	margin: 150px 0px;
	font-weight: bold;
	font-size: 70px;
	line-height: 70px;
	text-align: center;
	color: #ffffff;
}
@media (max-width: 768px){
	.header__promo {
		margin: 50px 0px;
		font-size: 40px;
		line-height: 40px;
	}
}
@media (max-width: 440px){
	.header__promo {
		margin: 30px 0px;
		font-size: 24px;
		line-height: 36px;
	}
}

/*Novelties*/

.products {
	padding: 80px 0 110px 0;
	background-color: #ffffff;
}
.products__card-list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.products__card {
	position: relative;
	flex: 0 1 50%;
	padding: 0 30px 0px 30px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.products__card:nth-child(2n) {
	border-left: none;
}
@media (max-width: 783px) {
	.products__card {
		flex: 0 1 70%;
	}
		.products__card:first-child {
		margin: 0px 0px 50px 0px;
	}
	.products__card:nth-child(2n) {
	border-left: 1px solid #e5e5e5;
}
}
@media (max-width: 440px) {
	.products__card {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.products__card-title {
	/* position: relative; */
	font-size: 40px;
	line-height: 60px;
	text-transform: uppercase;
	margin: 0;
	color: #000000;
}
@media (max-width: 440px) {
	.products__card-title {
		margin: 0px 0px 30px 0px;
	}
}
.products__card-image {
	margin: 30px 0px 0px 10px;
}
@media (max-width: 440px) {
	.products__card-image {
	margin: 30px 0px 0px 150px;
	}
}
.products__card-info {
	position: absolute;
	top: 85px;
	right: 20px;
	width: 150px;
	padding: 0px 0px 0px 0px;
}
@media (max-width: 440px) {
	.products__card-info {
		position: static;
	}
}
.products__properties {
	border-collapse: collapse;
	width: 150px;
	margin: 0px 0px 10px 0px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.products__properties td {
	border: 1px solid #e5e5e5;
	padding: 5px 10px;
}
.products__consist {
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	line-height: 24px;
}
.products__card-description {
	margin: 0px 0px 60px 0px;
	width: 330px;
}
@media (max-width: 440px) {
	.products__card-description {
	width: 200px;
	margin: 0px 0px 30px 0px;
}
}
.products__card-ordering {
	font-size: 0;
}
@media (max-width: 440px) {
	.products__card-ordering {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
}
.products__card-ordering a {
	font-size: 16px;
}
.products__card-ordering .btn--transparent {
margin: 0px 7px 0px 0px;
}
.products__price {
	display: inline-block;
	margin: 0px 0px 0px 25px;
	font-size: 16px;
	vertical-align: middle;
	color: #000000;
}
@media (max-width: 562px){
	.products__price {
		margin: 0px 0px 0px 10px;
	}
}

/*Advantages*/ 

.advantages {
	padding: 80px 0px 90px 0px;
	background-color: #ffcb78;
}
.advantages__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.advantages__list li {
	position: relative;
	flex: 0 1 33.333%;
	padding: 0px 60px;
}
@media (max-width: 900px){
	.advantages__list li {
		padding: 0px 30px;
	}
}
@media (max-width: 808px){
	.advantages__list li {
		flex: 0 0 50%;
	}
	.advantages__list li:last-child {
		flex: 0 0 100%;
		margin: 20px 0px 0px 0px;
	} 
}
@media (max-width: 528px){
	.advantages__list li {
		flex: 1 1 100%;
	}
	.advantages__list li:not(:first-child) {
		margin: 20px 0px 0px 0px;
	} 
}
.advantages__list li:not(:last-child) {
	border-right: 1px solid #e5b66c;
}
.advantages__list li::before {
	content: "";
	position: absolute;
}
.advantages__list-by-own-hands::before {
	width: 50px;
	height: 68px;
	background-image: url("../img/icon-brew.png");
}
.advantages__list-native::before {
	width: 46px;
	height: 65px;
	background-image: url("../img/icon-matreshka.png");
}
.advantages__list-quality::before {
	width: 63px;
	height: 58px;
	background-image: url("../img/icon-thumbsup.png");
}
.advantages__list-title {
	margin: 100px 0px 20px 0px;
	font-size: 20px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.advantages__list-text {
}

/*History*/

.history {
	padding: 80px 0px;
}
@media (max-width: 900px){
	.history {
	padding: 80px 20px;
}
}
.section-title--history {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
	color: #000000;
	text-transform: uppercase;
}
.history__list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.history__block {
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 528px){
	.history__block {
		/* flex-direction: column; */
	}
}
.history__list-item-title{
	margin: 60px 0px 20px 0px;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.history__list-source {
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	text-transform: none;
}
.history__item-text {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 100%;
}
@media (max-width: 528px){
	.history__item-text {
	flex-wrap: wrap;
	justify-content: center;
	}
}
.history__item-text img {
	width: 200px;
	margin-top: 10px; 
}
@media (max-width: 528px){
	.history__item-text img {
		margin: 10px 0px 20px 0px;
	}
}
.history__item-text p {
  /* width: 490px; */
	margin: 0;
	width: 60%;
}
@media (max-width: 528px){
	.history__item-text p {
  /* width: 490px; */
	margin: 20px 0px 0px 0px;
	flex: 1 1 100%;
}
}
@media (max-width: 900px){
	.history__item-text p {
  /* width: 490px; */
	margin: 0px 20px 0px 0px;
	width: 60%;
}
}
.history__list-link {
	color: #834700;
	font-style: italic;
	text-decoration: underline;
}
.history__list-link:hover {
	color: #6a3900;
}
.history__list-link:active {
	color: #cab7a2;
}

/*Press*/

.press {
	padding: 80px 0 90px;
	background-color: #ede5d8;
}

.press__review {
	position: relative;
	margin: 0;
}
@media (max-width: 900px) {
	.press__review {
	padding: 0px 20px;
	}
} 
.press__review::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -105px;
	width: 41px;
	height: 31px;
	background-image: url("../img/quotes.png");
}

.press__review p {
	width: 86%;
	margin: 0;
	margin: 0px 0px 35px 0px;
}

.press__review cite {
	float: right;
	width: 330px;
	margin: 10px 0px 0px 25px;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	text-transform: uppercase;
	font-style: normal;
}
@media (max-width:562px) {
	.press__review cite {
		width: 100%;
		margin: 10px 0px 30px 20px;
	}
}
/*Range*/

.price {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}

.price__list {
  width: 100%;
  border-collapse: collapse;
}

.price__list th {
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 11px;
  text-align: left;
  color: #999999;
  text-transform: uppercase;
}

.price__list td {
  padding: 17px 0;
}

.price__list th,
.price__list td {
  border-bottom: 1px solid #e5e5e5;
}

.price__list-item-name {
  width: 400px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.price__list-item-alcohol {
  width: 90px;
}

.price__list-item-calories {
  width: 60px;
}

.price__list-item-volume {
  text-transform: uppercase;
}

th.price__list-item-cost,
td.price__list-item-cost {
  text-align: right;
}

.tip {
  margin-left: 20px;
  padding: 2px 5px;
  font-size: 8px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  border-radius: 2px;
}

/* Order */

.order {
  padding: 80px 0px 110px 0px;
  background-color: #ffcb78;
}

.order__tip {
  width: 660px;
  margin: 0px 0px 70px 0px;
}

.order__form {
  width: 630px;
}

.order__form-group {
  margin: 0px 0px 25px 0px;
}

.order__form-group label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #000000;
  text-transform: uppercase;
}

.order__form-group input[type="text"],
.order__form-group textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px 15px 20px;
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b69054;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.order__form-group textarea {
  height: 120px;
  resize: none;
}

.order__form-group input[type="text"]:hover,
.order__form-group textarea:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.order__form-group input[type="text"]:focus,
.order__form-group textarea:focus {
  color: #000000;
  background-color: #ffffff;
}

.order__form-group-left {
  float: left;
  width: 290px;
}

.order__form-group-right {
  float: right;
  width: 290px;
}

.checkbox-area {
  margin: 0px 0px 40px 0px;
}

.checkbox-area input {
  margin: 0px 10px 0px 0px;
}

.checkbox-area label {
  margin: 0px 15px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
}


/*footer*/

.footer {
  padding: 60px 0px 70px 0px;
  background-color: #000000;
}

.footer__logo {
  float: left;
  width: 140px;
  height: 76px;
  margin: 0px 0px 0px 37px;
}

.main-nav--footer {
  margin: 7px 107px 0px 0px;
}

.footer__bottom {
  margin: 47px 0px 0px 0px;
}

.footer__media {
  float: left;
  width: 216px;
}

.footer__media a {
  position: relative;
  float: left;
  width: 70px;
  height: 66px;
  font-size: 0;
  background-color: #1b1b1b;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid rgba(255, 203, 120, 0.1);
  margin: 0px 0px 0px -1px;
}

.footer__media a:hover {
  z-index: 1;
  border-color: rgba(255, 203, 120, 0.3);
}

.footer__media a:active {
  opacity: 0.5;
}

.footer__media--vk {
  background-image: url('../img/icon-vk.png');
}

.footer__media--fb {
  background-image: url('../img/icon-fb.png');
}

.footer__media--in {
  background-image: url('../img/icon-insta.png');
}

.footer__annotation {
  float: left;
  width: 200px;
  font-size: 14px;
  line-height: 20px;
  color: #989898;
  margin: 12px 0px 0px 91px;
}

.footer__annotation p {
  margin: 0;
}

.footer__copyright {
  float: left;
  width: 300px;
  font-size: 0;
  margin: 0px 0px 0px 200px;
}

.footer__copyright a {
  color: #989898;
  text-decoration: none;
}

.logo-htmlacademy {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 66px;
  vertical-align: top;
  background-color: #1b1b1b;
  border: 1px solid rgba(255, 203, 120, 0.1);
}

.logo-htmlacademy:hover {
  border-color: rgba(255, 203, 120, 0.3);
}

.logo-htmlacademy:active {
  opacity: 0.5;
}

.logo-htmlacademy img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer__copyright span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #989898;
}

.copyright-text {
  margin: 25px 0px 0px 30px;
}

/*=============== Burger menu =============== */
.hamburger {
	display: none;
}
@media (max-width: 768px) {
.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	user-select: none;
	z-index: 3;
	margin: 20px 50px 20px 20px;
	}
}
.line {
	width: 100%;
	height: 3px;
	background: #fff;
	margin: 5px 0;
	z-index: 15;
	transition: all 0.3s ease-in-out;
}
.hamburger.open .line1 {
	transform: rotate(-45deg) translate(-10px, 12px);
}
.hamburger.open .line2 {
	opacity: 0;
}
.hamburger.open .line3 {
	transform: rotate(45deg) translate(-6px, -8px);
}